/* Header */
h1 {
	text-align: left;
	vertical-align: center;
	font-size: 20pt;
	background-color: darkblue;
	color: white;
	padding: 0px 20px;
}

.title {
	display: inline-block;
	padding: 3px;
}

/* Buttons */
.nav_button {
	text-align: center;
	font-size: 12pt;
	background-color: darkblue;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;
	border: none;
	color: white;
}

.nav_button:hover {
	background-color: mediumblue;
}
